@charset "utf-8";


body{
  font-family: "Yu Mincho", serif;
}

header{
  background: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  display: flex;
  align-items: center;
  margin-left: -60px;
  gap: 0;
  position: relative;
  display: flex;
  text-decoration: none;
  color: #333;
  transition: .3s;
}

.logo a{
  display:flex;
  align-items:center;
  gap:15px;
  text-decoration:none;
  color:#333;
  position:relative;
  transition:.3s;
}

.logo a:hover{
  color:#8d6744;
  transform:translateY(-3px);
}

.logo a::after{
  content:"TOPへ";
  position:absolute;
  left:70%;
  bottom:-15px;
  transform:translateX(-50%);
  font-size:16px;
  color:#8d6744;
  opacity:0;
  transition:.3s;
}

.logo a:hover::after{
  opacity:1;
}

.logo img{
  width: 360px;
}

.logo h1{
  font-size: 60px;
  font-weight: normal;
}

nav ul{
  display: flex;
  gap: 30px;
  list-style: none;
  align-items: center;
}

nav a{
  text-decoration: none;
  color: #333;
  transition:.3s;
}

nav a:hover{
  color:#8d6744;
}

/* ハンバーガーメニュー（PCでは非表示） */
.hamburger{
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.hamburger span{
  display: block;
  width: 28px;
  height: 3px;
  background: #b79f87;
  margin: 5px 0;
  border-radius: 2px;
}

.reserve-btn{
  background:#b79f87;
  color:#fff;
  padding:12px 30px;
  border-radius:999px;
  transition:.3s;
}

a:hover{
    opacity:0.8;
}

.reserve-btn:hover{
  background:#8d6744;
  transform:scale(1.15);
  transition:0.3s;
}

.hero{
  margin-top: 0;
  position:relative;
}

.hero-reserve-link{
  position:absolute;
  left:112px;
  bottom:101px;

  width:300px;
  height:88px;

  text-indent:-9999px;

  border-radius: 6px;
  transition: .3s;
  cursor:pointer;
  box-sizing:border-box;
}

.hero-reserve-link:hover{
  background:rgba(183,159,135,.12);
  box-shadow:0 6px 18px rgba(0,0,0,.12);
  filter:brightness(0.95);
}

.hero img{
  display: block;
  width: 100%;
}

.concept{
  display: flex;
  gap: 60px;
  align-items: center;
  background: #e3e3e3;
  padding: 80px 60px;
}

.concept-text{
  width: 55%;
}

.concept-image{
  width: 45%;
}

.concept-image img{
  width: 100%;
  display: block;
  border-radius: 20px;

  margin-left: 60px;
}

.style{
  margin-bottom: 80px;
  padding: 0px 60px;
}

.style-list{
  display: flex;
  gap: 30px;  
}

.style-item{
  width: 33.33%;
}

.style-item img{
  width: 100%;

  height: 320px;
  object-fit: cover;
  border-radius: 20px;
  display: block;
}

.staff{
  background: #e3e3e3;
  padding: 80px 60px;
}

.staff-list{
  display: flex;
  justify-content: center;
  gap: 80px;
}

.staff-item{
  width: 300px;
}

.staff-item img{
  width: 100%;
  border-radius: 20px;
  display: block;
}

.staff-photo{
  position:relative;
}

.main-photo{
  width: 100%;
  border-radius: 20px;
}

.menu{
  background: #e3e3e3;
  padding: 80px 60px;
}

.menu-content{
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: flex-start;
}

.menu-wrapper{
  width: 320px;
}

.menu-list{
  list-style: none;
  padding: 0;
  margin: 20px 0 50px;
}

.menu-list li{
  display: grid;
  grid-template-columns: 1fr 100px;
  align-items: center;
  margin-bottom: 18px;
}

.menu-list li span:last-child{
  text-align: right;
  transform:translateX(-15px);
}

.price-short{
    position: relative;
    left: -12px;
}

.menu-group{
  margin-bottom: 30px;
}

.menu-group h3{
  margin-bottom: 10px;
}

.menu-photo{
  width: 260px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menu-photo img{
  width: 100%;
  border-radius: 20px;
  display: block;
  margin-bottom: 40px;
}

.salon{
  background: #f7f3ef;
  padding: 80px 60px;
}

.salon-list{
  display: flex;
  gap: 20px;
}

.salon-item{
  width: calc((100% - 40px) / 3);
}

.salon-item img{
  width: 100%;
  height: 320px;
  object-fit: cover;
  display: block;
  border-radius: 20px;
  transition: .3s;
}

.salon-item img:hover{
  transform: scale(1.03);
}


/* ==========================
   ACCESS
========================== */

.access{
  background: #f7f3ef;
  padding: 80px 60px;
}

.access-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.access-info{
  width: 35%;
}

.access-item{
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 25px;
}

.access-item img{
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}

.access-item p{
  line-height: 1.8;
}

.access-map{
  width: 65%;
}

.access-map img{
  width: 100%;
  display: block;
  border-radius: 20px;
}

.access-item p{
  line-height: 1.8;
}

.access-map{
  width: 65%;
}

.access-map img{
  width: 100%;
  display: block;
  border-radius: 20px;
}

.access-station{
  background: #e9e2d8;
  border-radius: 18px;
  padding: 18px 20px;
  margin-top: 20px;
}

.station-item{
  display: flex;
  align-items: center;
  gap: 12px;
}

.station-item + .station-item{
  margin-top: 12px;
}

.station-item img{
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}

.station-item p{
  margin: 0;
  line-height: 1.6;
}

.footer{
  background: #d8cfc4;
  padding: 30px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo{
  font-size: 24px;
  padding-right: 40px;
  margin-right: 40px;
  border-right: 2px solid #b79f87;
}

.footer-info{
  font-size: 14px;
  line-height: 1.8;
}

.footer-buttons{
  display: flex;
  gap: 20px;
}

.footer-buttons a{
  text-decoration: none;
  padding: 12px 28px;
  border-radius: 30px;
}

.instagram-btn{
  background: #fff;
  color: #333;
  display: flex;
  align-items: center;
  gap: 8px;
  transition:.3s;
}

.instagram-btn:hover{
  transform:scale(1.08);
}


.instagram-btn img{
  width:20px;
  height:20px;
}

.footer-reserve-btn{
  background: #c0835d;
  color: #fff;
transition:.3s;
}

.footer-reserve-btn:hover{
  background:#8d6744;
  transform:scale(1.08);
}

.reserve{
    max-width: 900px;
    margin: 100px auto;
    padding: 80px;
}

.reserve h2{
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
}

.reserve-lead{
    text-align: center;
    font-size: 24px;
    margin-bottom: 60px;
}

.reserve-form{
    background:#f7f3ef;
    padding:60px;
    border-radius:20px;
}

.form-item label{
    display:block;
    font-size:24px;
    margin-bottom:15px;
}

.form-item input,
.form-item select,
.form-item textarea{
    width:100%;
    padding:18px;
    font-size:22px;
    border:1px solid #ccc;
    border-radius:10px;
    margin-bottom:35px;
    box-sizing:border-box;
}

.form-item textarea{
    height:220px;
}

.reserve-form button{
    display:block;
    margin:50px auto 0;
    width:320px;
    padding:20px;
    font-size:24px;
    background:#b79f87;
    color:#fff;
    border:none;
    border-radius:40px;
    cursor:pointer;
    transition:.3s;
}

.reserve-form button:hover{
    background:#8d6744;
    transform:scale(1.08);
}

.reserve-hero{
  width: 100%;
}

.reserve-hero img{
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: block;
}

a,
button{
  cursor: pointer;
}

/* ------------------------
   responsive
------------------------ */

@media (max-width: 768px){

  header{
  padding: 15px 20px;
  position: relative;
}

.logo img{
  width: 60px;
}

.logo h1{
  font-size: 24px;
}

.hamburger{
  display: block;
  position: absolute;
  right: 30px;
  top: 35px;
  z-index: 1001;
  background: none;
  border: none;
}

.hamburger span{
  display: block;
  width: 32px;
  height: 2px;
  background: #8d6744;
  margin: 8px 0;
  transition: .3s;
}

.hamburger.active span:nth-child(1){
  transform: rotate(45deg) translate(7px, 7px);
}

.hamburger.active span:nth-child(2){
  opacity: 0;
}

.hamburger.active span:nth-child(3){
  transform: rotate(-45deg) translate(7px, -7px);
}

.nav{
  display: none;
}

.nav.active{
  display: block;
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%;
  background: #f7f3ef;
  z-index: 1000;
  padding: 30px;
  box-sizing: border-box;
}

.nav.active ul{
  display: block;
  padding: 0;
  margin: 0;
}

.nav.active li{
  list-style: none;
  border-bottom: 1px solid #8d6744;
}

.nav.active a{
  display: block;
  padding: 18px 0;
  font-size: 16px;
  color: #333;
  text-decoration: none;
}

.nav.active .reserve-btn{
  background: none;
  color: #333;
  padding: 18px 0;
  border-radius: 0;
} 

.hero img{
  width: 100%;
}

.concept,
.access-content,
.menu-content{
 flex-direction: column;
}

.concept-text,
.concept-image,
.access-info,
.access-map,
.menu-list,
.menu-photo{
width: 100%;
}

.style-list,
.staff-list,
.salon-list{
display: flex;
flex-direction: column;
}

.style-item,
.staff-item,
.salon-item{
 width: 100%;
}

.style-item img,
.salon-item img{
 height: auto;
}

.footer{
 flex-direction: column;
 gap: 25px;
 text-align: center;
}

.footer-logo{
 border-right: none;
 padding-right: 0;
 margin-right: 0;
}

.reserve{
 margin: 60px 20px;
 padding: 40px 20px;
}

}

